body{
  background-color: Lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  height: 100vh;          
  margin: 0;      
  
}

.question{
  color: white;
  border: 3px solid hotpink;  
  padding: 10px 20px;         
  border-radius: 10px;        
  display: inline-block;
  text-align: center;
  margin-bottom: 30px; 
}

.yesbutton{
 background-color: pink;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.nobutton{
   background-color: lightgray;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
