body{
  background-color: Lightpink;
}

.question{
  color: white;
  align-items: center;
  border: 3px solid hotpink;  
  padding: 10px 20px;         
  border-radius: 10px;        
  display: inline-block;
}

.yesbutton{
  align-items: left;
}

.nobutton{
  align-items: right;
}
