body {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.question {
  color: white;
  border: 3px solid hotpink;  
  padding: 20px 30px;         
  border-radius: 15px;        
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

#yesbutton {
  background-color: #FFCCCB;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#nobutton {
  background-color: lightgrey;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

.MESSAGE{
  color: white;
  text-align: center;
  font-size: 24px;
}

.tenor-gif-embed{
    margin-bottom: 60px;
}

.corner-img {
  position: fixed; 
  width: 500px;    
  z-index: 10;    
}

.top-left { top: 10px; left: 10px; }
.top-right { top: 10px; right: 10px; }
.bottom-left { bottom: 10px; left: 10px; }
.bottom-right { bottom: 10px; right: 10px; }
